/* 用于描述文字*/
.w1{
    font-size: 1em;
    font-family: "Helvetica Neue";
    color: black;
    line-height: 0.5em; 
    font-weight: normal;
}
/* 用于二级描述文字*/
.w2{
    font-size: 1.5em;
    font-family: "Helvetica Neue";
    font-weight: bold;
}
/* 三级描述文字*/
.w3{
    font-size: 1em;
    font-family: "Helvetica Neue";
    font-weight: bold;
}